.signinContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.signinBox {
  padding: 20px;
  width: 460px;
  transform: translateY(-20%);
  @media (max-width: 360px) {
    transform: translateY(0);
  }
}

footer {
  position: absolute;
  bottom: 0;
  padding: 2em;
  width: 100%;
  @media (max-width: 360px) {
    padding-bottom: 5px;
  }
}

.rightContainer {
  background-color: #4164e3;
}
