.loginContainer {
  position: absolute;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.leftContent {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  width: 456px;
  background-color: #fff;
}

.mainBlock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background: url(../../../images/background1.png) no-repeat 50% 50%;
}

.mainNav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px 0 20px;
  z-index: 1;
}

.authContent {
  max-width: 400px;
  padding: 40px 30px;
  margin: 0 auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .leftContent {
    display: none;
  }
  .authContent {
    margin: 15px auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .leftContent {
    display: none;
  }
  .authContent {
    margin: 30px auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .leftContent {
    display: none;
  }
  .authContent {
    margin: 30px auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .leftContent {
    width: 456px;
    display: flex;
  }
  .authContent {
    margin: 30px auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .leftContent {
    width: 456px;
    display: flex;
  }
}
