.sessionBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.buttonConnectMarginTop {
  margin-top: 24px !important;
}

.titleDesc {
  margin-bottom: 30px;
}
